.mt-15 {
    margin-top: 60px!important;
}

.color-indigo {
    color: #3f51b5;
}

.hide {
    display: none;
}

.display-flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.human-player-card-img {
   max-height: 312px; 
}